@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');

body {
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
}

nav ul li a:hover {
    color: red;
    border-bottom: 2px solid red;
}

.logoimg {
    height: 80px;
    width: 80px;
}
.login {
    color: red;
    background-color: transparent;
    border: 2px solid red;
    padding: 10px 30px;
    border-radius: 5px;
}

.login:hover {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
}

.hero h1 {
    font-weight: 800;
    font-size: 110px;
    line-height: 110px;
}

.hero p {
    font-weight: 700;
    color: gray;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img:hover {
    transform: scale(1.1);
    transition: transform 0.8s ease-in-out;
}

.hero-btn {
    display: flex;
    gap: 20px;

}

.shopbtn {
    color: red;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid red;
    font-size: 20px;
}

.shopbtn:hover {
    color: white;
    background-color: red;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.ctgrybtn {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
}

.main2img {
    margin-top: 100px;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 50%;
    width: 50%;
}

.menu-line {
    display: none;
}